@font-face {
  font-family: triforce;
  src: url(../fonts/botw/botw.otf);
}
@font-face {
  font-family: botw;
  src: url(../fonts/triforce/Triforce.ttf);
}
body {
  background-image: url("../images/lightTexture.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

nav {
  background-image: url("../images/darkTexture.jpg");
  align-items: center;
  z-index: 100;
}

nav > label {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 10px;
  z-index: 2;
}

#masterSword {
  position: relative;
  height: 100px;
  transform: rotate(-90deg);
  left: 40px;
  transition: transform 0.15s ease-in-out;
  z-index: 1;
}

#msCheckBox:checked ~ #masterSword {
  transform: rotate(0deg);
  top: 12.5px;
  left: 15px;
}

@media only screen and (max-width: 768px) {
  #menuLinks, #categories, #N64, #gc, #ns {
    max-height: 0px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    display: block;
  }
}
#msCheckBox:checked ~ #menuLinks, #artGCheckBox:checked ~ #categories, #n64CheckBox:checked ~ #N64, #gcCheckBox:checked ~ #gc, #nsCheckbox:checked ~ #ns {
  max-height: 1600px;
  transition: max-height 0.15s ease-in;
}

nav input {
  display: none;
}

.parent {
  display: block;
  position: relative;
  float: left;
}

.parent > a > p, .parent > label > p {
  position: relative;
  font-family: botw;
  font-size: 30px;
  width: 100%;
  display: inline-block;
  color: #50EAA8;
  padding: 0px 12px;
  text-decoration: none;
  text-decoration: none;
}

.child {
  padding-left: 20px;
}

.child li a {
  font-family: botw;
  font-size: 30px;
  width: 80%;
  display: inline-block;
  color: #50EAA8;
  text-decoration: none;
  text-decoration: none;
}

li > a > p:hover {
  color: #4DA27E;
  transition: ease-in 0.2s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  min-width: 10em;
}

ul ul ul {
  left: 100%;
  top: 0;
}

li {
  width: 100%;
}

#triforce, .expand {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* For desktop: NAV */
  #triforce {
    position: relative;
    height: 55px;
    padding: 0px 12px;
    top: 17px;
    display: block;
    z-index: 10;
  }
  .expand {
    display: block;
    position: absolute;
    font-size: 12px;
    bottom: 15px;
    right: 15px;
    color: #50EAA8;
  }
  #menuLinks {
    max-height: 1600px;
    overflow: visible;
    display: block;
  }
  li {
    width: auto;
  }
  .child li {
    background-image: url("../images/darkTexture.jpg");
  }
  .parent:hover > ul {
    display: block;
    position: absolute;
  }
  .child {
    display: none;
    text-align: center;
    overflow: visible;
    padding-left: 0;
  }
  .child li {
    width: 180%;
  }
  nav input, #masterSword {
    display: none;
  }
}
#historyP {
  padding: 3px;
}

.timeline > div:nth-child(1) {
  position: relative;
  width: 15%;
  height: 100vw;
  background-color: red;
  float: left;
}

.timeline > div:nth-child(2) {
  position: relative;
  width: 85%;
  height: 100vw;
  background-color: orange;
  float: right;
}

.container > div {
  float: right;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 15vw solid;
  border-image-source: url(../images/zeldaBorder.png);
  border-image-slice: 854 854;
  box-sizing: border-box;
  border-image-repeat: round;
  background: #FFFFFF;
}

.content > h2 {
  font-family: triforce;
  color: #FF0000;
}

.container > div > img {
  float: right;
  width: 50%;
}

#line {
  position: absolute;
  background-color: green;
  width: 12px;
  height: 100%;
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .ign_div {
    width: 20%;
  }
}
.ign_div {
  background-color: rgba(0, 0, 0, 0.2);
  width: 90%;
  padding: 5%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: white;
}

.ign_div > h1 {
  color: #FFFFFF;
  margin-left: 2vh;
}

.ign_div > img {
  width: 95%;
  padding: 2.5%;
  position: relative;
}

.column_ign {
  box-sizing: border-box;
}

.ign_rating {
  background-color: darkgreen;
  border-radius: 4px;
  text-align: center;
  width: 30%;
  margin-left: 26.5vw;
}

.ign_rating_link {
  margin-left: 38%;
  color: rgb(240, 235, 235);
}

.avg_rating {
  background-color: red;
  text-align: center;
  width: 30%;
  border-radius: 4px;
  margin-left: 26.5vw;
}

.avg_rating_link {
  color: rgb(240, 235, 235);
  margin-left: 36%;
}

#aboutUsP > h1 {
  position: relative;
  font-family: triforce;
  color: #FF0000;
  margin-left: 3vw;
}

.aboutUSc {
  position: relative;
  background-image: url("../images/greenTexture.png");
  padding: 3vw;
  margin-bottom: 3vw;
}

.aboutUSc > img, .aboutUSc > .image {
  position: relative;
  width: 100%;
}

.aboutUSc > .image {
  padding-top: 60vw;
  border: 20vw solid;
  border-image-source: url(../images/zeldaBorder.png);
  border-image-slice: 854 854;
  box-sizing: border-box;
  border-image-repeat: round;
  background: url("../images/aboutUsJules.png") no-repeat;
  background-origin: border-box;
  background-size: 100% 100%;
}

.aboutUSc:nth-child(4) > .image {
  background: url("../images/aboutUsMax.png") no-repeat;
  background-origin: border-box;
  background-size: 100% 100%;
}

.aboutUSc > h1 {
  position: relative;
  text-align: center;
  font-family: botw;
  color: #50EAA8;
  width: 100%;
}

.aboutUSc > p {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
}

/* Contact */
.h1_contact {
  color: #04AA6D;
  margin-left: 2vw;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
  font-family: botw;
  color: #4DA27E;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  /* For desktop about us: */
  .aboutUSc {
    overflow: auto;
  }
  .aboutUSc > img {
    float: right;
    width: 400px;
  }
  .aboutUSc > .image {
    float: right;
    padding-top: 0;
    border: 100px solid;
    border-image-source: url(../images/zeldaBorder.png);
    border-image-slice: 854 854;
    box-sizing: border-box;
    border-image-repeat: round;
    width: 400px;
    height: 400px;
  }
  .aboutUSc > h1, .aboutUSc > p {
    text-align: left;
  }
}
footer {
  background-image: url("../images/darkTexture.jpg");
  margin-top: auto;
}

footer > div {
  padding: 2px 0px;
}

footer > div > h1 {
  font-family: botw;
  color: #4DA27E;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  footer > div > h1 {
    padding: 0px 5vw;
  }
  footer > div:nth-child(3) > h1 {
    position: relative;
    top: 30px;
  }
}/*# sourceMappingURL=style.css.map */