@font-face {
  font-family: triforce;
  src: url(../fonts/botw/botw.otf);
}
@font-face {
  font-family: botw;
  src: url(../fonts/triforce/Triforce.ttf);
}
body {
  background-image: url("../images/lightTexture.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

nav {
  background-image: url("../images/darkTexture.jpg");
}

#navLinks, nav > div > a > img {
  display: none;
}

nav a {
  font-family: botw;
  font-size: 30px;
  width: 80%;
  display: inline-block;
  color: #50EAA8;
  padding: 5px 12px;
  text-decoration: none;
}

#navLinks > a:hover {
  color: #4DA27E;
  transition: ease-in 0.2s;
}

#masterSword {
  position: relative;
  height: 100px;
  transform: rotate(-90deg);
  left: 40px;
  transition: transform 0.15s ease-in-out;
  z-index: 1;
}

nav > label {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 10px;
  z-index: 2;
}

nav input:checked ~ #masterSword {
  transform: rotate(0deg);
  top: 12.5px;
  left: 15px;
}

nav #navLinks {
  max-height: 0px;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  display: block;
}

nav input:checked ~ #navLinks {
  max-height: 650px;
  transition: max-height 0.15s ease-in;
}

nav input {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  nav {
    text-align: center;
  }
  nav > div > a > img, #navLinks {
    display: inline-block;
  }
  nav a {
    width: auto;
  }
  #masterSword, nav > label > img {
    display: none;
  }
  nav > div > a > img {
    position: relative;
    top: 12.5px;
    height: 55px;
  }
  nav #navLinks {
    max-height: none;
  }
  nav:hover #navLinks {
    max-height: none;
  }
  input {
    display: none;
  }
}
#historyP {
  padding: 3px;
}

.timeline > div:nth-child(1) {
  position: relative;
  width: 15%;
  height: 100vw;
  background-color: red;
  float: left;
}

.timeline > div:nth-child(2) {
  position: relative;
  width: 85%;
  height: 100vw;
  background-color: orange;
  float: right;
}

.container > div {
  float: right;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 15vw solid;
  border-image-source: url(../images/zeldaBorder.png);
  border-image-slice: 854 854;
  box-sizing: border-box;
  border-image-repeat: round;
  background: #FFFFFF;
}

.content > h2 {
  font-family: triforce;
  color: #FF0000;
}

.container > div > img {
  float: right;
  width: 50%;
}

#line {
  position: absolute;
  background-color: green;
  width: 12px;
  height: 100%;
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}
.ign_div {
  background-color: #000000;
  width: 80%;
  opacity: 50%;
  margin-top: 5vh;
  margin-left: 9vw;
}

.ign_div > h1 {
  color: #FFFFFF;
  margin-left: 2vh;
}

.ign_div > img {
  width: 300px;
  margin-left: 3vw;
  margin-top: 2vh;
  border: 50px solid;
  border-image-source: url(../images/zeldaBorder.png);
  border-image-slice: 854 854;
  box-sizing: border-box;
  border-image-repeat: round;
}

#aboutUsP > h1 {
  position: relative;
  font-family: triforce;
  color: #FF0000;
  margin-left: 3vw;
}

.aboutUSc {
  position: relative;
  background-image: url("../images/greenTexture.png");
  padding: 3vw;
  margin-bottom: 3vw;
}

.aboutUSc > img {
  position: relative;
  width: 100%;
}

.aboutUSc > h1 {
  position: relative;
  text-align: center;
  font-family: botw;
  color: #50EAA8;
  width: 100%;
}

.aboutUSc > p {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop about us: */
  .aboutUSc {
    overflow: auto;
  }
  .aboutUSc > img {
    float: right;
    width: 30%;
  }
  .aboutUSc > h1, .aboutUSc > p {
    text-align: left;
  }
}
footer {
  background-image: url("../images/darkTexture.jpg");
  margin-top: auto;
}

footer > div {
  padding: 2px 0px;
}

footer > div > h1 {
  font-family: botw;
  color: #4DA27E;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  footer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }
  footer > div > h1 {
    padding: 0px 5vw;
  }
  footer > div:nth-child(3) > h1 {
    position: relative;
    top: 30px;
  }
}/*# sourceMappingURL=style.css.map */