// import fonts
@font-face {
    font-family: triforce;
    src: url(../fonts/botw/botw.otf);
}

@font-face {
    font-family: botw;
    src: url(../fonts/triforce/Triforce.ttf);
}

// General rules
body{
    background-image: url("../images/lightTexture.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

// Navigation
nav{
    background-image: url("../images/darkTexture.jpg");
}

#navLinks, nav>div>a>img{
    display: none;
}

nav a{
    font-family: botw;
    font-size: 30px;
    width: 80%;
    display: inline-block;
    color: #50EAA8;
    padding: 5px 12px;
    text-decoration: none;
}

#navLinks>a:hover{
    color: #4DA27E;
    transition: ease-in 0.2s;
}

#masterSword{
    position: relative;
    height: 100px;
    transform: rotate(-90deg);
    left: 40px;
    transition: transform 0.15s ease-in-out;
    z-index: 1;
}  

nav>label{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 10px;
    z-index: 2;
}  

nav input:checked ~ #masterSword{
    transform: rotate(0deg);
    top: 12.5px;
    left: 15px;
}  

nav #navLinks{
    max-height: 0px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    display: block;
}

nav input:checked ~ #navLinks {
    max-height: 650px;
    transition: max-height 0.15s ease-in;
}

nav input{
    display: none;
}

@media only screen and (min-width: 768px) {
    /* For desktop nav: */
    nav{
        text-align: center;
    }

    nav>div>a>img, #navLinks{
        display: inline-block;
    }

    nav a{
        width: auto;
    }
    #masterSword, nav>label>img{
        display: none;
    }

    nav>div>a>img{
        position: relative;
        top: 12.5px;
        height: 55px;
    }

    nav #navLinks{
        max-height: none;
    }
    
    nav:hover #navLinks {
        max-height: none;
    }

    input{
        display: none;
    }
}

// Home page 

@media only screen and (min-width: 768px) {
    /* For desktop: homepage*/
}

// border-image-source: url(../images/zeldaBorder.png);
// border-image-slice: 854 854;
// box-sizing: border-box;
// border-image-repeat: round;

// history page
.timeline{
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 50px solid;
    border-image-source: url(../images/zeldaBorder.png);
    border-image-slice: 854 854;
    box-sizing: border-box;
    border-image-repeat: round;
    background-color: #FFFFFF;   
    overflow: auto;
}

.content>h2{
    font-family: triforce;
    color: #FF0000;
}

.timeline>div>div>img
{
    float: right;
    width: 150px;
    border-image-repeat: round;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
}

// ign page
.ign_div{
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 80vw;
    margin-top: 5vh;
    margin-left: 9vw;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    margin-bottom: 2vh;
}
.ign_div>h1{
    color: #FFFFFF;
   text-align: center;
}
#imageDiv{
    position: relative;
    padding-top: 30%;
    border: 5vw solid;
    border-image-source: url(../images/zeldaBorder.png);
    border-image-slice: 854 854;
    box-sizing: border-box;
    border-image-repeat: round;
    background: url("../images/ZeldaTearsOfTheKingdom.jpg") no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
}
.ign_div>img{
    width: 300px;
    margin-left: 3vw;
    margin-top: 2vh;
    border: 50px solid;
    border-image-source: url(../images/zeldaBorder.png);
    border-image-slice: 854 854;
    box-sizing: border-box;
    border-image-repeat: round;
}
.ign_div>div:nth-child(3){
    background-color: rgba($color: #000000, $alpha: 0.3);
    width: 60vw;
    margin-left: 9vw;
    border-radius: 4%;
    padding-bottom: 3vh;
}
.ign_rating
{
    text-align: center;
    background-color: red;
    width: 14vw;
    border-radius: 12%;
    margin-left: 5vw;
    position: relative;
    top: 3.9vh;
}
.ign_rating>p
{
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}
.ign_rating_link
{
    position: relative;
    top: 4vh;
    left: 7vw;
    color: rgba(236, 250, 250, 1)
}
.avg_rating
{
    text-align: center;
    background-color: rgba(47, 180, 87, 0.8);
    width: 14vw;
    border-radius: 12%;
    margin-left: 40%;
    position: relative;
    bottom: 0.25vh;

}
.avg_rating>p
{
    margin-top: 0px;
}
.avg_rating_link
{
    color: rgba(236, 250, 250, 1);
    position: relative;
    left: 24.5vw;
    bottom: 1.9vh;
}

// footer
footer{
    background-image: url("../images/darkTexture.jpg");
    margin-top: auto;
}

footer>div{
    padding: 2px 0px;
}

footer>div>h1{
    font-family: botw;
    color: #4DA27E;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    footer{
        display: flex;
        justify-content: space-between;
        width: 100vw;
    } 

    footer>div>h1{
        padding: 0px 5vw;
    }

    footer>div:nth-child(3)>h1{
        position: relative;
        top: 30px;
    }
}