// import fonts
@font-face {
    font-family: triforce;
    src: url(../fonts/botw/botw.otf);
}

@font-face {
    font-family: botw;
    src: url(../fonts/triforce/Triforce.ttf);
}

// General rules
body{
    background-image: url("../images/lightTexture.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

// Navigation
nav{
    background-image: url("../images/darkTexture.jpg");
    align-items: center;
    z-index: 100;
}

nav>label{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 10px;
    z-index: 2;
}  

#masterSword{
    position: relative;
    height: 100px;
    transform: rotate(-90deg);
    left: 40px;
    transition: transform 0.15s ease-in-out;
    z-index: 1;
}  

#msCheckBox:checked ~ #masterSword{
    transform: rotate(0deg);
    top: 12.5px;
    left: 15px;
} 

@media only screen and (max-width: 921px) {
    #menuLinks, #categories, #N64, #gc, #ns{
        max-height: 0px;
        transition: max-height 0.15s ease-out;
        overflow: hidden;
        display: block;
    }
}

#msCheckBox:checked ~ #menuLinks, #artGCheckBox:checked ~ #categories, #n64CheckBox:checked ~ #N64, #gcCheckBox:checked ~ #gc,  #nsCheckbox:checked ~ #ns{
    max-height: 1600px;
    transition: max-height 0.15s ease-in;
}


nav input{
    display: none;
}

.parent {
	display: block;
	position: relative;
	float: left;
}

.parent>a>p, .parent>label>p{
    position: relative;
    font-family: botw;
    font-size: 30px;
    width: 100%;
    display: inline-block;
    color: #50EAA8;
    padding: 0px 12px;
    text-decoration: none;
	text-decoration: none;
}

.child{
    padding-left: 20px;
}

.child li a {
	font-family: botw;
    font-size: 30px;
    width: 80%;
    display: inline-block;
    color: #50EAA8;
    text-decoration: none;
	text-decoration: none;
}

li>a>p:hover{
    color: #4DA27E;
    transition: ease-in 0.2s;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0px;
	min-width: 10em;
}

ul ul ul {
	left: 100%;
	top: 0;
}

li{
    width: 100%;
}

#triforce, .expand{
    display: none;
}

@media only screen and (min-width: 921px) {
    /* For desktop: NAV */
    #triforce{
        position: relative;
        height: 55px;
        padding: 0px 12px;
        top: 17px;
        display: block;
        z-index: 10;
    }

    .expand {
        display: block;
        position: absolute;
        font-size: 12px;
        bottom: 15px;
        right: 15px;
        color: #50EAA8;
    }

    #menuLinks{
        max-height: 1600px;
        overflow: visible;
        display: block;
    }

    li{
        width: auto;
    }

    .child li {
        background-image: url("../images/darkTexture.jpg");
    }

    .parent:hover>ul {
        display: block;
        position: absolute;
    }
    
    .child {
        display: none;
        text-align: center;
        overflow: visible;
        padding-left: 0;
    }
    
    .child li {
        width: 180%;
    }

    nav>input, #masterSword{
        display: none;
    }

    #homeNav:hover{
        border-bottom: solid 1px;
        background-color: rgba($color: #FFFFFF, $alpha: 0.3);
    }

    .childH li {
        background-image: none;
        background-color: rgba($color: #FFFFFF, $alpha: 0.5);
        border: solid 1px;
    }

    #msCheckBox:checked ~ .homeLinks{
        top: 0;
        padding-top: 0;
        background-image: none;
    }
}

// Home Page
#homeNav{
    position: absolute;
    background-image: none;
    width: 100%;
}

#msCheckBox:checked ~ .homeLinks{
    position: absolute;
    background-image: url("../images/darkTexture.jpg");
    top: -100px;
    padding-top: 200px;
}

#video{
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    float: right;
}

video{
    position: relative;
    height: 100vh;
    animation: videoScroll 90s infinite; 
}

@keyframes videoScroll{
    0% {
        left: 0;
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
    }
    100% {
        left: 0;
    }
}

#homeP>h1, #homeP>span{
    position: relative;
    text-align: center;
    color: #FFFFFF;
    text-shadow: #000000 1px 0 10px;
    font-size: 400%;
    margin-left: 2%;
    margin-right: 2%;
    top: 100px;
}

#homeP>span{
    transform: rotate(90deg);
    display: block;
    animation: arrow 2.5s infinite; 
}

@keyframes arrow{
    0% {
        top: 90px;
    }
    50% {
        top: 100px;
    }
    100% {
        top: 90px;
    }
}

#welcomeText{
    position: relative;
    padding-top: 15px;
    overflow: hidden;
    background-image: url("../images/greenTexture.png");
    margin-top: 100vh;
    top: -210px;
}

#welcomeText>h1{
    position: relative;
    font-family: botw;
    color: #50EAA8;
    left: 10px; 
}

#textH{
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#textH>p{
    position: relative;
}

#runes{
    position: relative;
    top: 0;
    background-image: url("../images/blueTexture.jpg");
    margin-bottom: 15px;
    margin-top: 15px;
    top: -200px;
    margin-bottom: -175px;
}

#runes>div{
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    display: table;
    left: 1%;
    width: 98%;
    table-layout: fixed;
    overflow: hidden;
}

#runes>div>a{
    position: relative;
    background-color: rgba($color: #091117, $alpha: 0.9);
    border: solid #0dc6ff 3px;
    display: table-cell;
    text-align: center;
    text-decoration: none;
    color: #0dc6ff;
    font-size: 2.5vw;
}

#runes>div>a:hover{
    background-color: rgba($color: #1172a9, $alpha: 0.9);
    transition: 0.3s;
}

#runes>div>a>div>img{
    position: relative;
    border-bottom: solid #0dc6ff 3px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: homepage */
    #runes>div{
        width: 50%;
        left: 25%;
    }

    #runes>div>a{
        font-size: 1vw;
    }
}

// history page
#historyP * {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    margin-left: -3px;
}

.timelineC {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timelineC::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 14px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timelineC::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 15px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
}

.timeline::after {
    left: 31px;
    background-color: #000000;
}

.timelineC {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
}

.timelineC {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timelineC::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #000000;
    border: 4px solid #C2C2C2;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 31px;
}

.right {
    left: 31px;
}

.left::before, .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid #FFFFFF;
}

.left::before, .right::before {
    left: 30px;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FFFFFF transparent transparent;
}

.right::after {
    left: -16px;
}

.left::after {
    left: -16px;
}

// content 
.content {
    padding: 20px 30px;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 6px;
    width: 229%;
    box-shadow: 5px 5px 2.5px lightgray;
    overflow: auto;
    display: flex; 
    flex-direction: column; 
}

.content>h2{
    font-family: botw;
    color: #FF0000;
}

.content>img{
    position: relative;
    width: 100%;
    float: right;
    order: 2;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media only screen and (min-width: 768px) {
    .timelineC::after{
        left: auto;
    }

    .left::before {
        left: auto;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #FFFFFF;
        right: 30px;
    }

    .timeline::after {
        left: 50%;
    }

    .left {
        left: 0;
    }

    .right {
        left: 50%;
    }

    .right::after {
        left: -16px;
    }

    // content
    .content {
        width: auto;
        display: block;
    }

    .content>img{
        width: 200px;
        margin: 5px;
    }
}

// ign page

  .ign_div {
    background-color: rgba(0, 0, 0, 0.2);
    width:90%;
    padding: 5%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: white;
  }
  
  .ign_div > h1 {
    color: #FFFFFF;
    margin-left: 2vh;
  }
  
  .ign_div > img {
    width: 95%;
    padding: 2.5%;
    position: relative;
  }
  .ign_text {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .column_ign {
    box-sizing: border-box;
  }
  .ign_rating {
    background-color: darkgreen;
    border-radius: 4px;
    text-align: center;
    width: 30%;
    margin-left: 26.5vw;
  }
  .ign_rating_link {
    margin-left: 38%;
    color: rgb(240, 235, 235);
  }
  .avg_rating {
    background-color: red;
    text-align: center;
    width: 30%;
    border-radius: 4px;
    margin-left: 26.5vw;
  }
  .avg_rating_link {
   
    color: rgb(240, 235, 235);
    margin-left: 36%;
  }

  @media only screen and (min-width: 768px) {
    /* ign for desktop: */
    .ign_div > img {
        position: relative;
        width: 50%;
        margin-left: 16vw;
    }
    .ign_rating_link {
        position: relative;
        margin-left: 38.2vw;
    }
    .avg_rating_link{
        position: relative;
        margin-left: 38vw;
    }
    .ign_div > h1 {
        margin-left: 18vw;
      }
  }

// about us
#aboutUsP>h1{
    position: relative;
    font-family: triforce;
    color: #FF0000;
    margin-left: 3vw;
}

.aboutUSc{
    position: relative;
    background-image: url("../images/greenTexture.png");
    padding: 3vw;
    margin-bottom: 3vw;
}

.aboutUSc>img, .aboutUSc>.image{
    position: relative;
    width: 100%;
}

.aboutUSc>.image{
    padding-top: 60vw;
    border: 20vw solid;
    border-image-source: url(../images/zeldaBorder.png);
    border-image-slice: 854 854;
    box-sizing: border-box;
    border-image-repeat: round;
    background: url("../images/aboutUsJules.png") no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
}

.aboutUSc:nth-child(4)>.image{
    background: url("../images/aboutUsMax.png") no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
}

.aboutUSc>h1{
    position: relative;
    text-align: center;
    font-family: botw;
    color: #50EAA8;
    width: 100%;
}

.aboutUSc>p{
    position: relative;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}
/* Contact */
.h1_contact{
    color: #04AA6D;
    margin-left: 2vw;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
    font-family: botw;
    color: #4DA27E;
    font-size: 20px;
  }
@media only screen and (min-width: 768px) {
    /* For desktop about us: */
    .aboutUSc{
        overflow: auto;
    }
    
    .aboutUSc>img{
        float: right;
        width: 400px;
    }

    .aboutUSc>.image{
        float: right;
        padding-top: 0;
        border: 100px solid;
        border-image-source: url(../images/zeldaBorder.png);
        border-image-slice: 854 854;
        box-sizing: border-box;
        border-image-repeat: round;
        width: 400px;
        height: 400px;
    }

    .aboutUSc>h1, .aboutUSc>p{
        text-align: left;
    }
}

// art gallery
#art>h1{
    position: relative;
    font-family: botw;
    color: #FF0000;
    padding-left: 10px;
    padding-right: 10px;
}

// Image slider. Source: https://alvarotrigo.com/blog/create-a-slider-with-pure-css/ (visual bug when switching between landscape mode and portrait mode on phone)
.slider-container {
    background-image: url("../images/blueTexture.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    margin-right: 0px;
    box-sizing: border-box;
    transform-origin: center center;
    transform: scale(1);
}

.slide a {
    position: absolute;
}

a.slide__prev {
    left: 5%;
}

a.slide__next{
    right: 5%;
}

.slide a>img{
    height: 50px;
    width: 50px;
}

.slide img{
    position: relative;
    width: 100%;   
}

.slide>a>img:hover{
    -webkit-filter: brightness(95%);
}

// art gallery
#gallery{
    padding-top: 2.5%;
}

.artPiece{
    position: relative;
    width: 46.25%;
    background-color: #FFFFFF;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    float: left;
    box-shadow: 5px 5px 2.5px lightgray;
}

.artPiece>img{
    position: relative;
    width: 100%;
}

.artPiece>h1{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    height: 60px;
    text-align: center;
    color: #FF0000;
    font-family: triforce;
    overflow: hidden;
}

@media only screen and (max-width: 290px) {
    /* For desktop image gallery: */

    .artPiece{
        width: 95%;
        margin-left: 2.5%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop image gallery: */
    #gallery{
        padding-top: 1%;
    }

    .artPiece{
        width: 18.8%;
        margin-left: 1%;
        margin-bottom: 1%;
        box-shadow: 10px 10px 5px lightgray;
    }
}

// footer
footer{
    background-image: url("../images/darkTexture.jpg");
    margin-top: auto;
    z-index: 100;
}

footer>div{
    padding: 2px 0px;
}

footer>div>h1{
    font-family: botw;
    color: #4DA27E;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    footer{
        display: flex;
        justify-content: space-between;
        width: 100%;
    } 

    footer>div>h1{
        padding: 0px 5vw;
    }

    footer>div:nth-child(3)>h1{
        position: relative;
        top: 30px;
    }
}